.saya-table {
    background-color: #ffffff;
    border: 3px solid #c0c0c0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
}

.saya-table tr {
    border-bottom: 2px solid #c0c0c0;
}

.saya-tableheight-2_5 tr {
    height: 2.5em;
}

.saya-tableheight-3 tr {
    height: 3em;
}

.saya-table tr:hover {
    background-color: #83ebeb30;
}

.saya-table td {
    padding: 3px;
}

.saya-table b {
    font-size: 14pt;
}

.saya-table li {
    margin-bottom: 1em;
}

.saya-table li li {
    margin-bottom: 0.5em;
}

.saya-table-header {
    padding: 10px, 10px;
    border: #c0c0c0;
    background-color: #a0a0a0 !important;
    height: 30px !important;
}

.saya-table-header span {
    color: #ffffff;
}