.saya-flexbutton-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin-left: auto;
    margin-right: auto;
}

.saya-flexbutton-buttonarea {
    display: block;
    margin: 14px;
    width: 400px;
}

.saya-flexbutton-bigbutton {
    padding: 8px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-color: #00000000;
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
}

.saya-flexbutton-bigbutton:hover {
    cursor: pointer;
}