.saya-collapsible-section {
    width: 100%;
}

.saya-collapsible-section summary {
    background-color: #133552;
    color: white;
    min-height: 1.5em;
    border-radius: 5px;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 0.3em;
    font-weight: bold;
    font-size: 16pt;
    list-style-type: none;
}

.saya-collapsible-section summary:hover {
    background-color: #2d6392;
    cursor: pointer;
}

.saya-collapsible-section summary::before {
    font-family: 'FontAwesome';
    font-weight: normal;
    padding-right: 0.3em;
    content: '\f152';
}

.saya-collapsible-section[open] summary {
    background-color: #135237;
}

.saya-collapsible-section[open] summary:hover {
    background-color: #2d927b;
}

.saya-collapsible-section[open] summary::before {
    content: '\f150';
}