@import url('../../../resources/sayaka/styles/via.css');
@import url('../../../resources/sayaka/sayaka.css');
@import url('../../../resources/sayaka/sayaka-navbar.css');
@import url('../../../resources/sayaka/sayaka-table.css');
@import url('../../../resources/sayaka/miki.css');
@import url('../../../resources/fonts/font-style.css');
@import url('../../../resources/sayaka/sayaka-collapsible-content.css');
@import url('../../../resources/sayaka/sayaka-styleflags.css');

.saya-banner-header {
    background-color: #628125;
    background-image: url('./banner-traffic.jpg');
}

.saya-table td {
    font-size: 14pt;
}

.saya-table td b u {
    color: #931b22;
}

.detour-routename {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    font-family: 'Scene Pro Black';
    font-weight: normal;
    font-size: 1.3em;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: gray;
    padding: 8px;
}

.detour-description-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.detour-collapsible {
    margin-bottom: 0.5em;
    width: fit-content;
    background-color: #e7f7ff;
}

.detour-collapsible summary {
    text-align: left;
    padding-right: 0.7em;
}

.detour-collapsible summary::after {
    content: 'Show stop list';
}

.detour-collapsible[open] summary::after {
    content: 'Hide stop list';
}

.detour-thumbnail-container {
    display: inline-block;
    background-color: white;
    border-color: gray;
    border-style: solid;
    border-width: 2px;
    margin: 8px;
    cursor: pointer;
    text-decoration: none;
    height: fit-content;
}

.detour-thumbnail-container span {
    color: black;
}

.detour-thumbnail-container:hover {
    background-color: bisque;
}

.detour-thumbnail {
    height: auto;
    max-width: calc(inherit - 80%);
}

.routeselector {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0px;
    margin-bottom: 1.5em;
}

.routeselector a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.routeselector img {
    width: 87%;
    height: 87%;
}

@media screen and (min-width: 900px) {
    .routeselector a {
        width: 68px;
        height: 68px;
    }

    .routeselector a img {
        transition: width 0.15s, height 0.15s;
    }

    .routeselector a:hover img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 900px) {
    .routeselector a {
        width: 58px;
        height: 58px;
    }
}