* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Scene Pro";
    font-style: normal;
    src: url("https://junimeek.github.io/resources/via/SceneProRg.OTF") format("otf");
}

@font-face {
    font-family: "Scene Pro";
    font-style: bold;
    src: url("https://junimeek.github.io/resources/via/SceneProBold.OTF") format("otf");
}

@font-face {
    font-family: "Scene Pro Black";
    font-style: normal;
    src: url("https://junimeek.github.io/resources/via/SceneProBlack.OTF") format("otf");
}

@font-face {
    font-family: "Scene Pro Black";
    font-style: bold;
    src: url("https://junimeek.github.io/resources/via/SceneProUltBlk.OTF") format("otf");
}

.mainBody {
    background-color: aliceblue;
    padding: 10px 15px;
    height: auto;
}

.archiveTable {
    background-color: #ffffff;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
}

.archiveTable tr {
    border-bottom: 2px dashed #c0c0c0;
    height: 50px;
}

.archiveTable tr:hover {
    background-color: #eefbff;
}

.archiveTable b {
    font-family: "Scene Pro Black";
    font-size: 14pt;
}

.archiveTable i {
    color: #da4346;
    font-size: 16pt;
    padding: 10px;
}

.archiveTable i:hover {
    color: #375c9f;
}

.archiveTable img {
    width: 40px;
    height: 40px;
}

.archiveTable td {
    text-align: center;
}

@media screen and (min-width: 900px) {
    .archiveTable {
        width: 80%;
        max-width: 900px;
    }

    .tableHeaderDesktop {
        display: inline;
    }

    .tableHeaderMobile {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .archiveTable {
        width: 100%;
    }

    .tableHeaderDesktop {
        display: none;
    }

    .tableHeaderMobile {
        display: inline;
    }
}

.tableHeader {
    padding: 10px, 10px;
    border: #c0c0c0;
    background-color: #a0a0a0 !important;
    height: 30px !important;
}

.tableHeader a {
    color: #ffffff;
    font-family: "Scene Pro Black";
    font-weight: normal;
}

.bigDropdownContainer {
    background-color: #ffffff;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: 1100px;
}

.bigDropdownContainer tr:hover {
    background-color: #ffebd8;
    cursor: pointer;
}

.dropdownCollapsed {
    display: none;
}

.dropdownExpanded {
    display: inline;
}

.arrowBGEnabled {
    background-color: #add3a9;
}

.arrowBGDisabled {
    background-color: #d98c97;
}

h1 {
    font-family: "Scene Pro Black";
    font-weight: normal;
    text-align: center;
}

h2 {
    font-family: "Scene Pro Black";
    font-weight: bold;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(135deg, #da4c3f, #af3034);
}

.navBarFrame {
    position: sticky;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 66px;
    padding: 0%;
    border: none;
    overflow: visible;
}