@import url('../../../resources/sayaka/styles/transit.css');
@import url('../../../resources/sayaka/sayaka.css');
@import url('../../../resources/sayaka/sayaka-styleflags.css');
@import url('../../../resources/sayaka/sayaka-navbar.css');
@import url('../../../resources/sayaka/sayaka-table.css');
@import url('../../../resources/sayaka/miki.css');
@import url('../../../resources/fonts/font-style.css');

.saya-lower-bg {
    background-color: #0f61a9;
}

.saya-banner-header {
    background-color: #0f61a9;
    background-image: url('./firebanner.jpg');
}

.saya-table b {
    font-weight: normal;
}

.saya-table i {
    color: #0f61a9;
    font-size: 16pt;
    padding: 10px;
}

.saya-table i:hover {
    color: #b933ad;
}

.saya-table img {
    width: 40px;
    height: 40px;
}

.saya-table td {
    font-size: 0.9em;
    text-align: center;
}