@import url('../../resources/sayaka/styles/via.css');
@import url('../../resources/sayaka/sayaka.css');
@import url('../../resources/sayaka/sayaka-table.css');
@import url('../../resources/sayaka/sayaka-navbar.css');
@import url('../../resources/sayaka/miki.css');
@import url('../../resources/fonts/font-style.css');

.saya-banner-header {
    background-color: #bdae80;
    background-image: url('./banner-errors.jpg');
}

.saya-table i {
    color: #b93838;
    font-size: 16pt;
    padding: 10px;
}

.saya-table i:hover {
    color: #375c9f;
}

.saya-table img {
    width: 32px;
    height: 32px;
}

.timepoint {
    width: 20px !important;
    height: 20px !important;
}

@media screen and (min-width: 800px) {
    .errorsTable {
        width: 80%;
        max-width: 900px;
    }

    body {
        margin: 8px;
    }
}

@media screen and (max-width: 800px) {
    .errorsTable {
        width: 100%;
    }

    body {
        margin: 0px;
    }
}

.tableHeader {
    padding: 10px, 10px;
    border: #c0c0c0;
    font-weight: bold;
    background-color: #a0a0a0;
}

.routeFrequent {
    padding: 10px, 10px;
    background-color: #b93838;
}

.routeStandard30 {
    padding: 10px, 10px;
    background-color: #375c9f;
}

.routeStandard60 {
    padding: 10px, 10px;
    background-color: #6e9dbb;
}

.routeLineup {
    padding: 10px, 10px;
    background-color: #431a46;
}

.routeNum {
    color: #ffffff;
    font-weight: bold;
}

.imgHover {
    color: #c0c0c0;
}

@media screen and (min-width: 800px) {
    .imgHover {
        width: 90%;
        height: 90%;
        max-width: 450px;
        max-height: 284px;
    }
}

@media screen and (max-width: 800px) {
    .imgHover {
        width: 100%;
        height: 100%;
    }
}

.imgHover:hover {
    color: blue;
}