@import url('./resources/sayaka/sayaka.css');
@import url('./resources/sayaka/sayaka-navbar.css');
@import url('./resources/sayaka/sayaka-flexbuttons.css');
@import url('./resources/fonts/font-style.css');

.bg-filter {
    margin: 0px;
    padding: 0px;
    background-color: #000000aa;
    backdrop-filter: blur(10px);
}

.saya-body {
    background-color: #00000000;
    padding: 10px 15px;
    min-height: calc(100vh - 54px);
    font-size: 20pt;
}

.header {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

@media screen and (min-width: 900px) {
    .header {
        width: 70%;
    }
}

@media screen and (max-width: 900px) {
    .header {
        width: 95%;
    }
}

.bigbutton-via {
    background-color: #d2203099;
    background-image: url("./resources/via-swoosh-gray.webp");
    background-position: right;
    background-size: contain;
}

.bigbutton-sakemi {
    background-color: #f19dff99;
    background-image: url("./resources/sakemi-tree.webp");
    background-size: contain;
}

.bigbutton-uniterra {
    background-color: #4b793799;
    background-image: url("./resources/ut-logo.webp");
    background-size: contain;
}

.bigbutton-via:hover {
    background-color: #eb747d99;
    border-color: #eb747d;
}

.bigbutton-sakemi:hover {
    background-color: #fad9ff99;
    border-color: #f19dff;
}

.bigbutton-uniterra:hover {
    background-color: #8bb47b99;
    border-color: #8bb47b;
}

.header h1 {
    font-family: 'Ammys Handwriting';
    font-weight: bold;
    color: #f19dff;
    text-align: center;
}

hr {
    height: 2px;
    border-width: 0;
    color: #cc70da;
    background-color: #cc70da;
}

.header p {
    font-family: 'Scene Pro';
    color: #f19dff;
    text-align: center;
}

.saya-flexbutton-buttonarea h1 {
    color: #ffffff;
    font-family: 'Scene Pro Black';
    font-size: 20pt;
    text-align: center;
}

.saya-flexbutton-buttonarea p {
    color: #ffffff;
    font-family: 'Scene Pro';
    font-size: 16pt;
    text-align: center;
}

.footerText {
    color: #d186dc;
    font-family: 'Ammys Handwriting';
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
}

.hyperlink {
    color: aqua;
}

.twitter {
    color: #4a99e9;
}

body {
    background-image: url("./resources/mainPageBG.jpg");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-clip: border-box;
    background-attachment: fixed;
    margin: 0px;
}