@import url('../resources/sayaka/styles/via.css');
@import url('../resources/sayaka/sayaka.css');
@import url('../resources/sayaka/sayaka-navbar.css');
@import url('../resources/sayaka/sayaka-flexbuttons.css');
@import url('../resources/fonts/font-style.css');

.bigbutton-lineup {
    background-color: #411b43;
    background-image: url("./thumb-lineup.jpg");
    border-color: #411b43;
}

.bigbutton-betterbus {
    background-color: #32737a;
    background-image: url("./thumb-betterbus.jpg");
    border-color: #32737a;
}

.bigbutton-errors {
    background-color: #bdae80;
    background-image: url("./thumb-errors.jpg");
    border-color: #bdae80;
}

.bigbutton-placeholder {
    background-color: #757575;
    border-color: #464646;
}

.bigbutton-history {
    background-color: #804000;
}

.bigbutton-lineup:hover {
    border-color: #f768ff;
}

.bigbutton-betterbus:hover {
    border-color: #67f0ff;
}

.bigbutton-errors:hover {
    border-color: #ffecb3;
}

.bigbutton-placeholder:hover {
    background-color: black;
    border-color: black;
}