@import url('../resources/sayaka/sayaka.css');
@import url('../resources/sayaka/sayaka-navbar.css');
@import url('../resources/sayaka/sayaka-flexbuttons.css');
@import url('../resources/fonts/font-style.css');

.saya-body {
    font-family: 'Helvetica';
}

.bigbutton-lineup {
    background-color: #411b43;
    background-image: url("./thumb-lineup.jpg");
    border-color: #411b43;
}

.bigbutton-betterbus {
    background-color: #32737a;
    background-image: url("./thumb-betterbus.jpg");
    border-color: #32737a;
}

.bigbutton-errors {
    background-color: #bdae80;
    border-color: #bdae80;
}

.bigbutton-history {
    background-color: #804000;
}

.bigbutton-lineup:hover {
    border-color: #f768ff;
}

.bigbutton-betterbus:hover {
    border-color: #67f0ff;
}

.bigbutton-errors:hover {
    border-color: #ffecb3;
}

.saya-h1 {
    font-family: 'Scene Pro Black';
}

.saya-lower-bg {
    background-image: linear-gradient(135deg, #da4c3f, #af3034);
}