@import url('../resources/sayaka/styles/uniterra.css');
@import url('../resources/sayaka/sayaka.css');
@import url('../resources/sayaka/sayaka-navbar.css');
@import url('../resources/sayaka/sayaka-table.css');
@import url('../resources/sayaka/miki.css');
@import url('../resources/fonts/font-style.css');

.table-oldbuilding {
    background-color: khaki;
}

.table-oldbuilding:hover {
    background-color: #feffb7 !important;
}

.table-column-flag {
    min-width: 50px;
}

.table-column-description {
    min-width: 200px;
    text-align: left;
}

.table-column-image {
    min-width: 200px;
}

.screenshot {
    width: 100%;
    height: 100%;
    max-width: inherit;
}

@media screen and (min-width: 900px) {
    .documentPreviewWindow {
        width: 85vw;
    }
}

@media screen and (max-width: 900px) {
    .documentPreviewWindow {
        width: 100vw;
    }
}

