.navBar {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 0%;
}

.navBar ul {
    list-style-type: none;
    background-color: #444444;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navBar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navBar a:hover {
    background-color: #777777;
}

.navBar li {
    float: left;
}

.navDropdown {
    display: inline-block;
}

.navDropdown button {
    background-color: #444444;
    color: white;
    padding: 15px;
    border: none;
    cursor: pointer;
}

.navDropdown a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 15px;
}

.navDropdown .dropdownContent {
    display: none;
    position: absolute;
    background-color: #444444;
    min-width: 100px;
}

.dropdownContent a {
    text-align: left;
}

.navDropdown:hover .dropdownContent {
    display: block;
}

.navDropdown:hover button {
    background-color: #777777;
}

.navDropdown a:hover {
    background-color: #777777;
}