@import url('../resources/sayaka/sayaka.css');
@import url('../resources/sayaka/sayaka-navbar.css');
@import url('../resources/fonts/font-style.css');

.sakemi-logo {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 136px;
}

.saya-lower-bg {
    background-color: #2f073c;
}