.saya-body {
    font-family: Arial, sans-serif;
}

.saya-lower-bg {
    background-color: #2f073c;
}

.saya-h1 {
    font-family: Helvetica, sans-serif;
}

.saya-h2 {
    font-family: Helvetica, sans-serif;
}