@font-face {
    font-family: 'Comic Bold';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/sources/COMIC.ttf') format('truetype');
}

@font-face {
    font-family: 'Comic Bold';
    font-weight: normal;
    font-style: oblique;
    src: url('../../fonts/sources/COMICZ.ttf') format('truetype');
}

@font-face {
    font-family: 'Sobiscuit';
    font-weight: normal;
    font-style: normal;
    src: url('../../fonts/sources/Sobiscuit.ttf') format('truetype');
}

.saya-body {
    font-family: Arial, sans-serif;
}

.saya-lower-bg {
    background-color: #2f073c;
}

.saya-h1 {
    font-family: Helvetica, sans-serif;
}

.saya-h2 {
    font-family: Helvetica, sans-serif;
}

.kyosaya-paragraph {
    margin-left: auto;
    margin-right: auto;
}

.kyosaya-ul {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.kyosaya-ul li {
    margin-bottom: 0.5em;
}

.kyosaya-short-paragraph {
    margin-left: auto;
    margin-right: auto;
}

.kyosaya-tiny-paragraph {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

@media screen and (min-width: 900px) {
    .kyosaya-paragraph {
        max-width: 90%;
        font-size: 16pt;
        line-height: 22pt;
        text-align: justify;
    }

    .kyosaya-short-paragraph {
        max-width: 90%;
        font-size: 16pt;
        line-height: 22pt;
        text-align: center;
    }

    .kyosaya-tiny-paragraph {
        max-width: 90%;
        font-size: 16pt;
        line-height: 22pt;
    }

    .kyosaya-ul {
        max-width: 90%;
        font-size: 16pt;
        line-height: 22pt;
    }
}

@media screen and (max-width: 900px) {
    .kyosaya-paragraph {
        max-width: 100%;
        font-size: 14pt;
        line-height: 18pt;
        text-align: left;
    }

    .kyosaya-short-paragraph {
        max-width: 100%;
        font-size: 14pt;
        line-height: 18pt;
        text-align: left;
    }

    .kyosaya-tiny-paragraph {
        max-width: 100%;
        font-size: 14pt;
        line-height: 18pt;
    }

    .kyosaya-ul {
        max-width: 100%;
        font-size: 14pt;
        line-height: 18pt;
    }
}

.kyokura-maincontentarea {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.kyokura-banner {
    max-width: 1000px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    color: white;
}

.kyokura-banner img {
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

.kyokura-font-comic {
    font-family: 'Comic Bold', Arial, sans-serif;
}

.kyokura-font-sobis {
    font-family: 'Sobiscuit', Arial, sans-serif;
}