.saya-body {
    font-family: Arial, sans-serif;
}

.saya-lower-bg {
    background-image: linear-gradient(135deg, #da4c3f, #af3034);
}

.saya-table li {
    text-align: left;
}

.saya-table td {
    text-align: center;
}

.saya-table-header span {
    font-family: 'Scene Pro Black', Helvetica, sans-serif;
    font-weight: normal;
}

.saya-h1 {
    font-family: 'Scene Pro Black', Helvetica, sans-serif;
}

.saya-h2 {
    font-family: 'Scene Pro', Helvetica, sans-serif;
}

.via-bustext {
    font-family: 'Scene Pro', Helvetica, sans-serif;
}

.via-busfreq-20 {
    color: #af3034;
}

.via-busfreq-30 {
    color: #375c9f;
}

.via-busfreq-60 {
    color: #6e9dbb;
}

.via-busfreq-90 {
    color: #bdae80;
}

.via-busfreq-lineup {
    color: #411b43;
}

.via-busfreq-grad-2060 {
    color: linear-gradient(90deg, #af3034, #375c9f);
}

.via-busfreq-rapidgreen {
    color: #628125;
}

.via-busfreq-rapidsilver {
    color: #646c6e;
}

.via-busfreq-link {
    color: #54325f;
}

.via-routename-text {
    font-family: 'Scene Pro', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14pt;
}

.via-big-number {
    width: 50px !important;
    height: 50px !important;
}

.via-routeplate {
    color: white;
    font-weight: bold;
    font-family: 'Scene Pro', Helvetica, sans-serif;
    font-size: 0.95em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 0.3em;
    border-color: white;
    border-width: 0.1em;
    border-style: solid;
    display: inline-block;
}

.via-routeplate-primo {
    color: white;
    background-color: #74211e;
    font-weight: bold;
    font-family: 'Scene Pro', Helvetica, sans-serif;
    font-size: 0.95em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 0.3em;
    border-color: #263352;
    border-width: 0.1em;
    border-style: solid;
    display: inline-block;
}

.via-routeplate-express {
    background-color: white;
    font-weight: bold;
    font-family: 'Scene Pro', Helvetica, sans-serif;
    font-size: 0.95em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 0.3em;
    border-width: 0.1em;
    border-style: solid;
    display: inline-block;
}

.via-routeplate-f20 {
    background-color: #af3034;
}

.via-routeplate-f30 {
    background-color: #375c9f;
}

.via-routeplate-f60 {
    background-color: #6e9dbb;
}

.via-routeplate-f90 {
    background-color: #bdae80;
}

.via-routeplate-fgreen {
    background-color: #628125;
}

.via-routeplate-fsilver {
    background-color: #646c6e;
}

.via-routeplate-flineup {
    background-color: #411b43;
}

.via-routeplate-flink {
    background-color: #54325f;
}

.via-routeplate-f20-30 {
    background-image: linear-gradient(90deg, #af3034, #375c9f);
}

.via-routeplate-f30-20 {
    background-image: linear-gradient(90deg, #375c9f, #af3034);
}

.via-routeplate-f60-30 {
    background-image: linear-gradient(90deg, #6e9dbb, #375c9f);
}

.via-routeplate-express20 {
    border-color: #af3034;
    color: #af3034;
}

.via-routeplate-express30 {
    border-color: #375c9f;
    color: #375c9f;
}

.via-routeplate-express90 {
    border-color: #bdae80;
    color: #bdae80;
}