@import url('../../../../resources/sayaka/styles/via.css');
@import url('../../../../resources/sayaka/sayaka.css');
@import url('../../../../resources/sayaka/sayaka-navbar.css');
@import url('../../../../resources/sayaka/sayaka-table.css');
@import url('../../../../resources/fonts/font-style.css');
@import url('../../../../resources/sayaka/sayaka-styleflags.css');

.saya-table i {
    color: #da4346;
    font-size: 16pt;
    padding: 10px;
}

.saya-table i:hover {
    color: #375c9f;
}

.saya-table td {
    text-align: left;
}

.saya-table .centered-content {
    text-align: center;
}

.container-dl {
    display: block;
    width: max-content;
    text-decoration: none;
    padding: 4px;
    justify-self: center;
    color: black;
}

.container-dl:hover {
    color: #af3034;
}

.button-dl {
    border-radius: 6px;
    border: 3px solid gray;
    background-color: #faffcb;
    color: inherit;
    width: max-content;
    padding: 2px;
}

.button-dl i {
    padding: 3px;
    color: inherit;
}

.routeselector {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0px;
    margin-bottom: 1.5em;
}

.routeselector a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.routeselector img {
    width: 87%;
    height: 87%;
}

@media screen and (min-width: 900px) {
    .routeselector a {
        width: 68px;
        height: 68px;
    }

    .routeselector a img {
        transition: width 0.15s, height 0.15s;
    }

    .routeselector a:hover img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 900px) {
    .routeselector a {
        width: 58px;
        height: 58px;
    }
}