* {
    box-sizing: border-box;
}

.mainBody {
    background-color: aliceblue;
    padding: 10px 15px;
    height: auto;
}

.browserBody {
    background-color: aliceblue;
    padding: 10px 10px;
    width: 100%;
    height: calc(100vh - 66px);
}

.browserBody div {
    float: left;
    height: 100%;
}

.browserBody::after {
    content: "";
    clear: both;
    display: table;
}

@media screen and (min-width: 800px) {
    body {
        margin: 8px;
    }
}

@media screen and (max-width: 800px) {
    body {
        margin: 0px;
    }
}

.tableHeader {
    padding: 10px, 10px;
    border: #c0c0c0;
    background-color: #a0a0a0;
}

.tableHeader td {
    text-align: center;
}

.tableHeader a {
    color: #ffffff;
    font-weight: bold;
}

.routeFrequent {
    padding: 10px, 10px;
    background-color: #b93838;
}

.routeStandard30 {
    padding: 10px, 10px;
    background-color: #375c9f;
}

.routeStandard60 {
    padding: 10px, 10px;
    background-color: #6e9dbb;
}

.routeStandard90 {
    padding: 10px, 10px;
    background-color: #bdae80;
}

.routeLineup {
    padding: 10px, 10px;
    background-color: #431a46;
}

.routeNum {
    color: #ffffff;
    font-weight: bold;
}

.smallRouteNum {
    color: #ffffff;
    font-weight: bold;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(135deg, #da4c3f, #af3034);
}

table th {
    background-color: #eaecf0;
}