@import url('../../resources/sayaka/styles/via.css');
@import url('../../resources/sayaka/sayaka.css');
@import url('../../resources/sayaka/sayaka-navbar.css');
@import url('../../resources/sayaka/sayaka-table.css');
@import url('../../resources/sayaka/miki.css');
@import url('../../resources/fonts/font-style.css');

.saya-banner-header {
    background-color: #411b43;
    background-image: url('./banner-lineup.jpg');
}

.saya-table b {
    font-weight: normal;
}

.saya-table i {
    color: #da4346;
    font-size: 16pt;
    padding: 10px;
}

.saya-table i:hover {
    color: #375c9f;
}

.saya-table img {
    width: 40px;
    height: 40px;
}

.saya-table td {
    font-size: 12pt;
    text-align: center;
}

.via-routename-text {
    color: #431a46;
}

.daytime-routetext {
    font-family: 'Scene Pro', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14pt;
}

.description-container {
    display: flex;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
}

.description-paragraph {
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 900px) {
    .description-paragraph {
        max-width: 95%;
        font-size: 16pt;
        line-height: 22pt;
    }

    .description-container {
        max-width: 80%;
        flex-direction: row;
    }

    .printable-container {
        display: grid;
    }
}

@media screen and (max-width: 900px) {
    .description-paragraph {
        max-width: 100%;
        font-size: 14pt;
        line-height: 18pt;
    }

    .description-container {
        width: 100%;
        flex-direction: column-reverse;
    }

    .printable-container {
        display: inline;
    }
}

.printable-side {
    display: block;
}

.printable-container {
    grid-template-columns: 48% 4% 48%;
    justify-content: center;
}

.lineup-diagram {
    height: 100%;
    min-width: 300px;
    max-width: 356px;
    max-height: 296px;
}

.disabled-table {
    display: none;
}