@import url('../resources/sayaka/sayaka.css');
@import url('../resources/sayaka/sayaka-navbar.css');
@import url('../resources/fonts/font-style.css');

.saya-h1 {
    font-family: 'Ammys Handwriting', Arial, sans-serif;
    color: #ab4eb9;
}

.saya-h2 {
    font-family: 'Ammys Handwriting', Arial, sans-serif;
    color: #ab4eb9;
}

.saya-lower-bg {
    background-image: linear-gradient(135deg, #f19dff, #ab4eb9);
}