@import url('../../../resources/sayaka/styles/via.css');
@import url('../../../resources/sayaka/sayaka.css');
@import url('../../../resources/sayaka/sayaka-navbar.css');
@import url('../../../resources/sayaka/sayaka-table.css');
@import url('../../../resources/fonts/font-style.css');

.saya-table i {
    color: #da4346;
    font-size: 16pt;
    padding: 10px;
}

.saya-table i:hover {
    color: #375c9f;
}

.saya-table td {
    text-align: left;
}

.saya-table .centered-content {
    text-align: center;
}