@import url('../../../resources/sayaka/sayaka.css');
@import url('../../../resources/sayaka/sayaka-navbar.css');
@import url('../../../resources/sayaka/sayaka-table.css');
@import url('../../../resources/fonts/font-style.css');

.saya-table b {
    font-family: 'Scene Pro Black';
}

.saya-table i {
    color: #da4346;
    font-size: 16pt;
    padding: 10px;
}

.saya-table i:hover {
    color: #375c9f;
}

.saya-table img {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.saya-table li {
    font-size: 14pt;
}

.big-number {
    text-align: center;
}

.changesTable a {
    text-align: left;
}

.saya-h1 {
    font-family: 'Scene Pro Black';
}

.saya-h2 {
    font-family: 'Scene Pro Black';
}

.saya-lower-bg {
    background-image: linear-gradient(135deg, #da4c3f, #af3034);
}