@import url('../resources/sayaka/styles/kyokura.css');
@import url('../resources/sayaka/sayaka.css');
@import url('../resources/sayaka/sayaka-navbar.css');
@import url('../resources/sayaka/sayaka-flexbuttons.css');
@import url('../resources/fonts/font-style.css');

.sakemi-logo {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 136px;
}

.bigbutton-baldiextended {
    background-color: #388b1d;
    background-image: url("./thumb-lineup.jpg");
    border-color: #388b1d;
}

.bigbutton-neuromm {
    background-color: #411b43;
    background-image: url("./thumb-lineup.jpg");
    border-color: #411b43;
}

.bigbutton-mikumonday {
    background-color: #411b43;
    background-image: url("./thumb-lineup.jpg");
    border-color: #411b43;
}

.bigbutton-baldiextended:hover {
    border-color: #66ff33;
}

.bigbutton-neuromm:hover {
    border-color: #f768ff;
}

.bigbutton-mikumonday:hover {
    border-color: #f768ff;
}