@import url('../resources/sayaka/styles/kyokura.css');
@import url('../resources/sayaka/sayaka.css');
@import url('../resources/sayaka/sayaka-navbar.css');
@import url('../resources/sayaka/sayaka-flexbuttons.css');
@import url('../resources/fonts/font-style.css');

.kyoko-logo {
    width: 100%;
    height: 100%;
    max-width: 500px;
}

.bigbutton-baldiextended {
    background-color: #388b1d;
    background-image: url("./thumb-baldiextended.webp");
    border-color: #388b1d;
}

.bigbutton-neuromm {
    background-color: #b07177;
    background-image: url("./thumb-neuro.webp");
    border-color: #b07177;
}

.bigbutton-mikumonday {
    background-color: #4ba7c8;
    border-color: #4ba7c8;
}

.bigbutton-baldiextended:hover {
    border-color: #66ff33;
}

.bigbutton-neuromm:hover {
    border-color: #ffd0d5;
}

.bigbutton-mikumonday:hover {
    border-color: #d73677;
}