@import url('../../resources/sayaka/styles/via.css');
@import url('../../resources/sayaka/sayaka.css');
@import url('../../resources/sayaka/sayaka-navbar.css');
@import url('../../resources/sayaka/sayaka-table.css');
@import url('../../resources/sayaka/miki.css');
@import url('../../resources/fonts/font-style.css');

.saya-banner-header {
    background-color: #32737a;
    background-image: url('./banner-betterbus.jpg');
}

.saya-table i {
    color: #03757b;
    font-size: 16pt;
    padding: 10px;
}

.saya-table i:hover {
    color: #931b22;
}

.saya-table img {
    width: 32px;
    height: 32px;
}

.saya-table td {
    font-size: 14pt;
}

.saya-table td b u {
    color: #03757b;
}

.saya-table td hr {
    height: 1.5px;
    border-width: 0;
    color: #03757b;
    background-color: #03757b;
}

.summary-table li {
    margin-bottom: 0em;
}

.jump-footer-container {
    position: sticky;
    top: 0px;
    bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1300px;
    height: fit-content;
    background-color: #00000000;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.jump-footer-button {
    padding: 11px;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    color: white;
    background-color: #03757b;
    border-color: #37bdc4;
    border-width: 4px;
    border-style: solid;
}

.jump-footer-button:hover {
    background-color: #931b22;
    border-color: #d54c53;
}

.in-text-citation {
    text-decoration: none;
}

.in-text-citation:hover {
    text-decoration: underline;
}

.citation-highlight {
    background-color: #fff492;
}

.popup-enabled {
    z-index: 28;
    display: block;
    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.popup-background {
    z-index: 29;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffffcf;
    position: fixed;
    width: 100%;
    height: 100%;
}

.popup-window {
    z-index: 30;
    position: fixed;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    top: 25vh;
    bottom: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
}

.popup-taskbar {
    height: fit-content;
    width: 100%;
    background-color: #8facac;
    border-color: #5c696d;
    border-style: solid;
    border-width: 3px;
    border-bottom-width: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.popup-button-close {
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 20pt;
    background-color: #00000000;
    color: #af0b0b;
}

.popup-memorypath {
    font-size: 16pt;
    font-weight: bold;
    color: white;
    flex-grow: 1;
    overflow-x: hidden;
}

.popup-button-back {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20pt;
    background-color: #00000000;
    color: white;
    height: 100%;
}

.popup-button-close:hover {
    background-color: #af0b0b;
    color: white;
}

.popup-button-back:hover {
    background-color: #11cae7;
}

.popup-framecontainer {
    width: 100%;
}

.popup-frame {
    width: 100%;
    border-color: #5c696d;
    border-style: solid;
    border-width: 3px;
}

.pageselector {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0px;
    flex-direction: row;
    flex-wrap: wrap;
}

.pageselector li a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    border: 1px solid gray;
    background-color: white;
    color: black;
    margin: 4px;
    border-radius: 5px;
}

.pageselector li a.active {
  background-color: #4CAF50;
  font-weight: bold;
  color: white;
}

.pageselector li a:hover:not(.active) {
  background-color: lightgray;
}

.routegroup-enabled {
    display: block;
}

.routegroup-disabled {
    display: none;
}

.routeselector {
    width: 80%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 20px;
}

.routeselector a {
    text-decoration: none;
    padding: 4px;
}

@media screen and (min-width: 900px) {
    .routeselector img {
        width: 60px;
        height: 60px;
    }

    html {
        scroll-padding-top: calc(54px + 20pt);
    }
}

@media screen and (max-width: 900px) {
    .routeselector img {
        width: 50px;
        height: 50px;
    }

    html {
        scroll-padding-top: calc(108px + 20pt);
    }
}

.timeline-table {
    background-color: #ffffff;
    border: 3px solid #c0c0c0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
}

.timeline-table tr {
    border-bottom: 2px dashed #c0c0c0;
    height: 70px;
}

.timeline-table tr:hover {
    background-color: #83ebeb30;
}

.timeline-table b {
    font-size: 14pt;
}

.timeline-table-header {
    padding: 10px, 10px;
    border: #c0c0c0;
    background-color: #a0a0a0 !important;
    height: 30px !important;
}

.timeline-table-header span {
    color: #ffffff;
}

.timeline-table li {
    text-align: left;
}

.timeline-table td {
    text-align: center;
}

.timeline-table-header span {
    font-family: 'Scene Pro Black', Helvetica, sans-serif;
    font-weight: normal;
}

.timeline-table img {
    width: 40px !important;
    height: 40px !important;
}