@import url('../../resources/sayaka/styles/via.css');
@import url('../../resources/sayaka/sayaka.css');
@import url('../../resources/sayaka/sayaka-navbar.css');
@import url('../../resources/sayaka/sayaka-table.css');
@import url('../../resources/sayaka/miki.css');
@import url('../../resources/fonts/font-style.css');

.saya-banner-header {
    background-color: #32737a;
    background-image: url('./banner-betterbus.jpg');
}

.saya-table i {
    color: #03757b;
    font-size: 16pt;
    padding: 10px;
}

.saya-table i:hover {
    color: #931b22;
}

.saya-table img {
    width: 32px;
    height: 32px;
}

.saya-table td {
    font-size: 14pt;
}

.timeline-table {
    background-color: #ffffff;
    border: 3px solid #c0c0c0;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
}

.timeline-table tr {
    border-bottom: 2px dashed #c0c0c0;
    height: 70px;
}

.timeline-table tr:hover {
    background-color: #83ebeb30;
}

.timeline-table b {
    font-size: 14pt;
}

.timeline-table-header {
    padding: 10px, 10px;
    border: #c0c0c0;
    background-color: #a0a0a0 !important;
    height: 30px !important;
}

.timeline-table-header span {
    color: #ffffff;
}

.timeline-table li {
    text-align: left;
}

.timeline-table td {
    text-align: center;
}

.timeline-table-header span {
    font-family: 'Scene Pro Black', Helvetica, sans-serif;
    font-weight: normal;
}

.timeline-table img {
    width: 40px !important;
    height: 40px !important;
}