@import url('../../resources/sayaka/styles/kyokura.css');
@import url('../../resources/sayaka/sayaka.css');
@import url('../../resources/sayaka/sayaka-navbar.css');
@import url('../../resources/sayaka/sayaka-flexbuttons.css');
@import url('../../resources/fonts/font-style.css');

.saya-lower-bg {
    background-image: url('./bg.png');
    background-color: #388b1d;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.kyoko-logo {
    width: 100%;
    height: 100%;
    max-width: 500px;
}

@media screen and (min-width: 900px) {
    html {
        scroll-padding-top: calc(54px + 20pt);
    }
}

@media screen and (max-width: 900px) {
    html {
        scroll-padding-top: calc(108px + 20pt);
    }
}

.bigbutton-windows {
    background-color: #0078d4;
    border-color: #0078d4;
}

.bigbutton-linux {
    background-color: #363636;
    border-color: #363636;
}

.bigbutton-github {
    background-color: #080a3e;
    border-color: #080a3e;
}

.bigbutton-windows:hover {
    border-color: #30fff5;
}

.bigbutton-linux:hover {
    border-color: #f3b53e;
}

.bigbutton-github:hover {
    border-color: #879ce5;
}

.versionbutton {
    background-color: #388b1d;
}

.versionbutton:hover {
    background-color: #6cc54e;
}

.bigredbutton {
    background-color: crimson;
}

.bigredbutton:hover {
    background-color: #ff6363;
}

.versionbutton-buttonarea {
    display: block;
    margin: 14px;
    width: 120px;
}